@model Nop.Plugin.Widgets.Invite.Models.PublicInfoModel
@{
    Layout = "";

}
@using Nop.Web.Framework.UI

<div class="page account-page order-list-page">
    <div class="page-body">
        @if (Model.List.Count > 0)
        {
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">我的邀请码</div>

                <!-- Table -->
                <table class="table">
                    <thead>
                        <tr>
                            <th>邀请码</th>
                            <th>使用情况</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.List)
                        {
                            <tr>
                                <td class="start-date">
                                    @item.Code
                                </td>
                                <td class="cycle-info">
                                    @(item.IsUsed ? "已使用" : "未使用")
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
    </div>
</div>