@model ProductDetailsModel
@using Nop.Web.Models.Catalog;

@if (!String.IsNullOrWhiteSpace(Model.PageShareCode))
{
    <div class="product-share-button">
        @*@Html.Raw(Model.PageShareCode)*@
        <script type="text/javascript">
            bShareOpt = {
                uuid: "",
                url: "", //商品的永久链接
                summary: "", //商品描述
                pic: "", //商品图片链接
                vUid: "", //用户id，为了让您能够知道您网站的注册用户分享、喜欢了哪些商品
                product: "", //商品名称
                price: "0", //商品价格
                brand: "", //商品品牌
                tag: "", //商品标签
                category: "", //商品分类
                template: "1"
            };
        </script>
        <a class="bsLikeDiv" href="http://static.bshare.cn"></a>
        <script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/bshareLike.js"></script><div class="bshare-custom icon" style="float:left;"><a title="分享到QQ空间" class="bshare-qzone"></a><a title="分享到新浪微博" class="bshare-sinaminiblog"></a><a title="分享到人人网" class="bshare-renren"></a><a title="分享到腾讯微博" class="bshare-qqmb"></a><a title="分享到搜狐微博" class="bshare-sohuminiblog"></a></div>
        <script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/button.js#style=-1&amp;ssc=false&amp;mdiv=-1&amp;type=15"></script>
        <script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/bshareC1.js"></script>
    </div>
}