@{
    Layout = "~/Views/Shared/_ColumnsTwo.cshtml";
}
@*<div class="container">*@
    <div class="row">
        <p>我们的商城仅限于服务我们的会员用户</p>
        <p>我们帮会员精心挑选每一份经得起口碑传播的海外优质产品</p>
        <p>我们的会员自己用得好的产品，再去推荐给最需要的关心和帮助的朋友，我们不提供任何推荐佣金，</p>
        <p>因为朋友，只是为了无私的帮助和一份信任</p>
        <p>正是因为朋友间的信任，我们有责任用心挑选每一份精品，让您享受更高品质的安心生活！</p>
        <p style="font-weight: bold;font-size: 16px;">委托购的价值：友谊是用来关爱的！</p>
    </div>
@*</div>*@